<h3 class="text-light text-center">Son Mesajlar</h3>
<hr>
{% for roomMessage in roomMessages %}
<div class="card mx-auto pe-5" style="max-width: 500px; margin-top: 1%;">
    <div class="card-body">
        {% if request.user == roomMessage.user %}
        <a href="{% url 'delete-roomMessage' roomMessage.id %}"  type="submit" class="btn btn-danger" style="float: right;">
            Mesajı Sil
        </a>
        {% endif %}
        <p>
            <span style="font-style: italic;">
                <a href="{% url 'user-profile' user.id %}" style="text-decoration: none;">@{{roomMessage.user}},</a>
            </span>
            {{roomMessage.room}} odasında:
        </p>
        <p>{{roomMessage.created|timesince}} önce</p>
        <hr>
        <h4>{{roomMessage.body}}</h4>
    </div>
</div>
{% endfor %}