{% extends 'index.html' %}

{% block content %}

<style>
.home-container {
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
}
</style>

<div class="home-container py-5 bg-secondary">
    <div>
        {% include 'main/topics_component.html' %}
    </div>
    <div class="" style="width: 85%; margin-inline: auto;"> 
        <div class="row">
            <div class="col-md text-light" style="margin: auto; border: 0px; margin-top: 1px;">
                <p class="lead">{{room_count}} oda mevcut.</p>
            </div>
            <div class="col-md pt-1">
            <a href="{% url 'create-room' %}" type="btn" class="btn btn-info btn-block btn-lg text-light">
                    Oda Oluştur
                </a>
            </div>
        </div>
        <hr>
        {% include 'main/feed_component.html' %}
    </div>
    <div class="px-2 pt-3">
        {% include 'main/activity_component.html' %}
    </div>
</div>

{% endblock content %}