{% extends 'index.html' %}

{% block content %}

<div class="card text-center mx-auto" style="max-width: 500px; margin-top: 2%;">
    <div class="card-header bg-secondary text-light">
      Kayıt Ol
    </div>
<form  class="form" method="POST">
  {% csrf_token %}
    <div class="card-body border-secondary" style="border: 5px solid;">
            <div class="form-group">
              <label for="topic">Oda Konusu</label>
              <input required type="text" class="form-control" name="topic" id="topic" list="topic-list">
              <datalist id="topic-list">
                <select class="form-select" id="room_topic">
                {% for topic in topics %}
                <option value="{{topic}}">{{topic.name}}</option>
                {% endfor %}
                </select>
              </datalist>
            </div>
            <div class="form-group">
                <label for="room_name">Oda Adı</label>
                {{form.name}}
            </div>
            <div class="form-group">
                <label for="room_description">Oda Açıklaması</label>
                {{form.description}}
            </div>
    </div>
    <div class="card-footer text-center py-3 bg-secondary text-light">
        <a href="/" type="btn" class="btn btn-dark">Geri Dön</a>
        <button type="submit" class="btn btn-primary">Oda Oluştur</button>
    </div>
</form>
</div>

{% endblock %}