<style>
  .navbar-brand {
    font-size: x-large;
  }
  .nav-item {
    font-size: large;
  }
  i {
    margin-right: 16%;
    display: inline-block;
  }
  .d-flex {
    margin-left: auto;
    padding-right: 25%;
    justify-content: center;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Django Odaları</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      {% if request.user.is_authenticated %}
        <i class="lead text-light bg-info py-1" style="padding-left: 5px; padding-right: 5px; border-radius: 5px;">
          Merhaba, {{request.user.username}}
        </i>
      {% endif %}
      <form class="d-flex py-1">
        <input class="form-control" type="text" name="q" placeholder="Arama Yap">
        <button class="btn btn-secondary ms-1 type="submit"><bi class="bi-search" style="font-size: large;"></bi></button>
      </form>
      {% if request.user.is_authenticated %}
      <form action="{% url 'logout' %}" class="py-1">
        <button type="submit" class="btn btn-secondary">Çıkış Yap</button>
      </form>
      {% else %}
      <form action="{% url 'login' %}" class="py-1">
        <a href="{% url 'login' %}" type="btn" class="btn btn-secondary py-1">Giriş Yap</a>
      </form>
      {% endif %}
    </div>
  </div>
</nav>


